
    * {
        margin: 0px;
        padding: 0px;
    }

    Header {
        height: 60px;
        margin-bottom: 10px;
        font-weight: 900;
        /* background-color: #5EDCE0;%20Light%20Cyan%20 */
    }

    #Heading {
        padding-top: 5px;
        font-size: 50px;
        font-weight: 900;
        font-family: 'Orbitron', sans-serif;
        color: #ff0090;
        text-shadow: 0 0 5px #ff0090, 0 0 6px rgba(255, 0, 144, 0.5);
       }

    body {
        background-color: #1b1b1b;
        /* background-color: grey; */
    }

    #MainInput {
        /* margin-left: 200px; */
        margin-top: 20px;
        /* margin: 10px; */
        color: #E5E4E2;
        height: 350px;
        width: 800px;
        font-size: 30px;
        padding: 10px;
        border-radius: 10px;
        background-color: grey;
        box-shadow: 0 0 10px rgba(255, 0, 144, 0.6), 0 0 15px rgba(0, 195, 255, 0.6);
        }

    #Frames {
        color: #00c3ff;
        font-size: 24px;
        margin-top: 20px;
        /* padding: 10px; */
    }
    span {
        margin-right: 30px;
        margin-bottom: 20px;
        font-weight: bold;
        font-family: 'Poppins',sans-serif;
    }

    ::placeholder
    {
        color: #E5E4E2;
        text-decoration: underline;
        font-size: 30px;
    }